.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(images/bigbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.foreground-above-fold {
  margin: 0 auto;
  position: relative;
  width: 73%;
}

#main-logo {
  width: 154px;
}

header {
  padding: 45px 0 0;
}

.nav-link {
  text-align: center;
  line-height: 60px;
  width: 75px;
  float: right;
}
